.fundomur {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(img/caminho.png.png);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto;
}

h1 {
    text-align: center;
}